@import url("https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500&display=swap");

* {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  padding: 0;

}

:root {
  --primary: #3c3c3e;
  --secondary: #8a8a90;
  --background: #d9edfc;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33476b4d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33466999;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 9px 0px 23px 0px;
}

#label {
  font-size: 11px;
  font-weight: normal;
  color: var(--secondary);
  margin-left: 11px;
}

.main-container {
  background: #d1e5e1;
  padding: 18px;
  margin: 0;
  padding-bottom: 150px;
  height: 100%;
}

.svg-icon {
  width: 22px;
  height: 18px;
}


/* Fonts */
.title {
  font-size: 17px;
  font-weight: 500;
  color: var(--primary);
}

#name-initial {
  background: #58c0a1;
  color: white;
  border-radius: 7px;
  height: 20px;
  width: 23px;
  padding: 6px;
}

#name-initial-icon {
  background: #58c0a1;
  color: white;
  padding: 7px 9px;
  border-radius: 7px;
}

.sub-title {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--primary);
}

.initials {
  display: flex;
}

#sub-title {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 56px;
  color: var(--secondary);
  font-weight: 500;
}

#sub-title-2 {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 167px;
  color: var(--secondary);
  font-weight: 500;
}

#sub-title-3 {
  font-size: 11px;
  position: absolute;
  top: 180px;
  left: 270px;
  color: var(--secondary);
  font-weight: 500;
}

/* fonts end */
/* main card css */
.card-container {
  width: 100%;
}

.col-1-section {
  width: 4%;
  background: rgb(255 255 255 / 49%);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 8px 11px;
  width: 98%;
  margin-right: 35px;
  display: flex;
}

.section-1 {
  padding: 5px 5px;
  border-right: 1px solid rgb(206, 206, 206);
  width: 100%;
}

.section-2 {
  padding: 5px 5px;
  border-right: 1px solid rgb(206, 206, 206);
  width: 100%;
}

.section-3 {
  padding: 5px 5px;
  width: 100%;
}

.flex {
  display: flex;
  margin-top: 13px;
  padding: 5px 5px;
  /* justify-content: space-around; */
}

#flex {
  display: flex;
}

.user-img {
  height: 32px;
  width: 36px;
  border-radius: 7px;
}

.circle {
  background: #fff;
}

.footer {
  height: 36px;
  align-items: flex-end;
  display: flex;
  margin: 5px 5px
}

/* main card css end */


/* Input */
.did-floating-label-content {
  position: relative;
  width: 100%;
}

.did-floating-label {
  color: #1e4c82;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 7px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 12px;
  width: calc(100% - 22px);
  height: 32px;
  padding: 0 1px;
  background: #fff;
  color: rgb(37, 37, 37);
  border: none;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  margin-left: 7px;
  font-weight: 500;
  align-items: flex-end;
}

select.did-floating-select::-ms-expand {
  display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
  top: -5px;
  font-size: 11px;
  font-weight: 500;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
  top: -3px;
  font-size: 11px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
  top: -3px;
  font-size: 11px;
}

.did-floating-label {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}

.head-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 10px;
}

.head-sub-title {
  font-size: 14px;
  color: var(--primary);
}

.section-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0px 9px 0;
}

#section-top {
  display: flex;
  justify-content: space-between;
  padding: 14px 38px 14px 9px;
}

.close {
  display: flex;
  align-items: center;
}

.svg-icon-close {
  background: #fff;
  padding: 9px 6px;
  border-radius: 16px;
  margin: 0 14px 12px 0;
  width: 19px;
  height: 13px;
  box-shadow: -1px 14px 22px -2px #9c9b9b63;
  background-image: linear-gradient(181deg, #0000001a, #ffffff00);
}

.sub-title-close {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}

#svg-icon-active {
  enable-background: new 0 0 408.576 408.576;
  position: absolute;
  left: 248px;
  top: 112px;
}

.btn {
  text-decoration: none;
  letter-spacing: 1px;
  color: #fff;
  background: #339C7D;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  position: absolute;
  right: 32px;
  bottom: -15px;
}

/* dashboard css */
.main-pannel {
  background: rgb(242, 237, 243);
  height: 100%;
  width: 100%;
  padding: 18px 16px;
  border-radius: 6px
}

.card-dashboard {
  background: #fff;
  border-radius: 6px;
  border: none;
  margin: 24px 19px;
  padding: 16px 14px;
}

.card-secondary {
  padding: 5px 5px;
  margin: 50px 5px;
}

.btn-dash {
  text-decoration: none;
  padding: 7px 2px;
  border-radius: 4px;
  margin: 0 14px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 37px;
  width: 131px;
  align-items: center;
  text-align: center;
}

.pill {
  border-radius: 27px;
}

#gradiant-1 {
  background-image: linear-gradient(45deg, #8b4ae1, #E0A1FF);
}

#gradiant-2 {
  background-image: linear-gradient(24deg, #6d6d6d, rgba(201, 201, 201, 0));
}

#gradiant-3 {
  background-image: linear-gradient(35deg, #51D9C5, #ace4db);
}

#gradiant-4 {
  background-image: linear-gradient(50deg, rgba(255, 0, 0, 0.753), rgb(235, 125, 125));
}

#gradiant-5 {
  background-image: linear-gradient(335deg, #E3A500, #fff0c8);
}

#gradiant-6 {
  background-image: linear-gradient(142deg, #0060D3, #70a6e9);
}

#gradiant-7 {
  background-image: linear-gradient(142deg, #6861611a, #aaaaaa);
  color: #000;
}

#gradiant-8 {
  background-image: linear-gradient(142deg, #2b405c, #687381);
}

#outline-1 {
  border: 1px solid #8b4ae1;
  color: #8b4ae1;
}

#outline-2 {
  border: 1px solid #6d6d6d;
  color: #6d6d6d;
}

#outline-3 {
  border: 1px solid #51D9C5;
  color: #51D9C5;
}

#outline-4 {
  border: 1px solid red;
  color: red;
}

#outline-5 {
  border: 1px solid #E3A500;
  color: #E3A500;
}

#outline-6 {
  border: 1px solid #2b405c;
  color: #2b405c;
}

#outline-7 {
  border: 1px solid grey;
  color: grey;
}

#outline-8 {
  border: 1px solid black;
  color: black;
}

#inverse-1 {
  background: #ceb3f1;
  color: #8b4ae1;
}

#inverse-2 {
  background: #b8b8b8;
  color: #6d6d6d;
}

#inverse-3 {
  background: #aff8ed;
  color: #28aa97;
}

#inverse-4 {
  color: red;
  background: rgb(240, 174, 174);
}

#inverse-5 {
  background: #f1dda3;
  color: #E3A500;
}

#inverse-6 {
  background: #a8c0e0;
  color: #2b405c;
}

#inverse-7 {
  background: rgb(228, 228, 228);
  color: grey;
}

#inverse-8 {
  color: #fff;
  background: rgb(56, 56, 56);
}

/* table css starts */
#table {
  width: calc(100% - 62%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px 18px;
  border-radius: 8px;
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-around;
  padding: 7px 0;
  position: sticky;
}

.cell {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.cell-hover {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}

.cell-hover:hover {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  background: #F2EDF3;
}

.cell-colored {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: rgb(189, 189, 189);
}

.col-4-table {
  width: 40%;
  margin: 0 0 0 49px;
}

.head-sub-title {
  font-size: 12px;
  color: var(--primary);
}

#numbers {
  padding: 0px 5px;
}

.cell-blue {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: #BFDEF7;
}

.cell-yellow {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: #FFF4BD;
}

.cell-red {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: #FFDAE2;
}

.cell-green {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: #BFF2EA;
}

.cell-purple {
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  background: #EBD6FF;
}

/* table css ends */


/* input forms start*/
.floating-form {
  width: 320px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  padding: 16px 20px;
  border-radius: 8px;
}

.floating-label {
  position: relative;
  margin-bottom: 20px;
}

.floating-input,
.floating-select {
  font-size: 14px;
  padding: 4px 4px;
  display: block;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
  outline: none;
  border-bottom: 2px solid #5264AE;
}

label {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
  top: -18px;
  font-size: 14px;
  color: #5264AE;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
  top: -18px;
  font-size: 14px;
  color: #5264AE;
}

.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 30px;
  max-height: 260px;
  overflow: hidden;
  overflow-x: hidden;
}

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* icons css starts */
.icons {
  display: flex;
  justify-content: space-around;
  padding: 28px 0;
}

/* icons css ends */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }

  to {
    width: 0;
    background: transparent;
  }
}

/* Gallery.html Css starts */

.gallery-img {
  justify-content: space-around;
  display: flex;
  width: 100%;
  margin: 26px 0;
}

.br-12 {
  border-radius: 12px;
}

/* Gallery.html css Ends */
/* alert.html starts */
#alert {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: calc(100% - 38%);
  padding: 17px 13px;
  border-radius: 12px;
  margin: 36px 5px;
}

.d-block {
  display: block;
}

.bg-green {
  background: #e3fceb;
  border-left: 3px solid #068f31;
}

.bg-yellow {
  background: #f8f1b5;
  border-left: 3px solid #db830f;
}

.bg-blue {
  background: #d4e6fc;
  border-left: 3px solid #115ebb;
}

.bg-red {
  background: #ffdfd6;
  border-left: 3px solid #b32f0a;
}

.alert-svg {
  position: relative;
  top: -26px;
  right: -232px;
}

/* alert.html ends */
/* chips,html starts */
.chips {
  height: 28px;
  width: 100px;
  font-size: 12px;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  padding: 5px 5px;
  margin: 0px 7px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

#inverse-1-rounded {
  border: 18px;
  background: #ceb3f1;
  color: #8b4ae1;
  border-radius: 18px;
}

#inverse-2-rounded {
  border-radius: 18px;
  color: red;
  background: rgb(240, 174, 174);
}

#inverse-3-rounded {
  background: #ceb3f1;
  color: #8b4ae1;
  border-radius: 18px;
}

#inverse-4-rounded {
  background: #f1dda3;
  color: #E3A500;
  border-radius: 18px;
}

#inverse-5-rounded {
  border: 18px;
  background: #ceb3f1;
  color: #8b4ae1;
  border-radius: 18px;
}

#inverse-6-rounded {
  border-radius: 18px;
  background: #aff8ed;
  color: #28aa97;
}

/* chips.html ends */
/* Badges.html starts */
.card-bdge {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  width: 30%;
  height: 100%;
  border-radius: 12px;
  padding: 5px 5px;
}

.small-font {
  font-size: 13px;
}

/* Badges.html ends */
/* media query */
@media screen and (min-width: 320px) and (max-width:870px) {
  body {
    width: 100%;
  }

  .col-1-section {
    display: none;
  }

  .card {
    display: block;
    width: calc(100% - 22px);
  }

  .did-floating-input {
    width: calc(100% - 20px);
  }

  .section-1,
  .section-2,
  .section-3 {
    border: none;
  }

  /* dashboard pages media starts media query */
  .card-dashboard {
    margin: 16px 0px;
    padding: 1px 6px;
  }

  .card-secondary {
    margin: 26px 5px;
  }

  .btn-dash {
    margin: 0px 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    height: 29px;
    width: 55px;
  }
}

/* dashbaord pages media ends media query */