@charset "utf-8";

@font-face {
  src: url("../fonts/GoogleSans-Regular.ttf");
  font-family: GSans Reg;
}

@font-face {
  src: url("../fonts/GoogleSans-Medium.ttf");
  font-family: GSans Med;
}

@font-face {
  src: url("../fonts/GoogleSans-Bold.ttf");
  font-family: GSans Bold;
}

html {
  overflow-x: hidden;
  vertical-align: baseline;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: absolute;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  font-family: GSans Reg;
  height: 100%;
  background-color: #e3f1fa;
  letter-spacing: .4px;

}

:root {
  --peach: #fb9898;
  --primary: #687285;
  --secondary: #efefef;
  --active-tabs: #fff7d4;
  --font-color: #1e3264;
  --svg-color: #8e98b1;
  --active-side-tab: #afafaf;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33476b4d;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33466999;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin: 0 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  height: 48px;
}

.flex-div {
  display: flex;
  align-items: center;
}

.svg-icn {
  height: 16px;
  width: 16px;
  fill: var(--svg-color);
}

#svg-icon {
  width: 16px;
  fill: #fff;
}

.svg-icon-small {
  height: 19px;
  width: 17px;
  margin: 0 2px;
}

.flx {
  display: flex !important;
}

.aic {
  align-items: center !important;
}

.jcc {
  justify-content: center !important;
}

.c-tabs {
  background-color: rgb(255 255 255 / 40%);
  border-radius: 16px;
  margin: 0 4px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.act_tab {
  background-color: var(--peach);
}

.act_icn {
  fill: #ffffff !important;
}

.name {
  font-size: 15px;
  color: #3a3a3a;
  font-weight: 500;
}

.desc {
  font-size: 12px;
  color: var(--font-color);
  opacity: .8;
  margin: 0 6px;
}

.desc-bold {
  color: #6a6a6b;
  font-size: 12px;
  font-weight: 500;
}

#desc {
  font-size: 11px;
  color: var(--secondary);

}

#fullscreen-btn {
  font-size: 11px;
  color: var(--secondary);
  border: none;
  background: transparent;
}

#Myid {
  margin: 0 5px;
}

/* Popup start */
.pop-up {
  padding: 5px 5px;
  margin: 5px;
  background: #f1f1f1;
  cursor: pointer;
}

/* Popup End */
/* hamburger css full screen */
.sidebar {
  height: 72%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 36px;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  margin: 10px 5px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.sidebar .closebtn {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 22px;
  margin-left: 50px;
  background: #40BB91;
  padding: 0px 7px;
  border-radius: 38px;
  text-decoration: none;
  color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* slider menu css */
.slide-header {
  background: #38C796;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8px;
}

#slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 8px;
}

.slider-logo {
  background: #fff;
  padding: 20px 3px;
  border-radius: 33px;
  width: 56px;
  margin: 0 5px;
  border: 3px solid #9CE3CB;
}

.logo-content {
  display: flex;
  align-items: center;
}

#slider-logo {
  height: 18px;
  width: 57px;
}

.slider-font {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.workflow {
  display: flex;
  justify-content: space-around;
}

.explore {
  padding: 4px 5px;
  background: #40BB91;
  border-radius: 12px;
  height: 17px;
  width: 16px;
}

/* slider menu css end */
/* #main {
  transition: margin-left .5s;
  padding: 16px;
} */
/* hamburger css end full screen */
/* search scope popup pannel */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #dee1e5;
  margin: auto;
  border: 1px solid #888;
  width: 23%;
  height: 73%;
  border-radius: 16px;
}

.close {
  color: #68ab91;
  background: #ebedef;
  padding: 4px 10px;
  border-radius: 14px;
  position: relative;
  top: 14px;
  left: -135px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#myBtn {
  font-size: 11px;
  color: var(--secondary);
  cursor: pointer;
}

.search {
  display: flex;
  background: #5fdeb2;
  color: #fff;
  padding: 6px 3px;
  margin: 0 0px 7px 0;
  border-radius: 9px;
}

#input {
  padding: 8px 6px;
  margin: 5px 0;
  width: calc(100% - 20px);
  border: 1px solid rgb(185, 185, 185);
  background: #f5f5f5;
  border-radius: 8px;
}

.flex-popup {
  display: flex;
  justify-content: space-between;
  padding: 5px 1px;
  margin: 5px 0;
}

.card-popup {
  height: 75%;
  background: rgb(255, 255, 255);
  margin: 27px 0px;
  padding: 13px 9px;
  border-radius: 0px;
}

#month {
  height: 30px;
  width: 97px;
  border-radius: 7px;
  border: 1px solid rgb(185, 185, 185);
}

#num-input {
  height: 30px;
  width: 39%;
  border-radius: 7px;
  border: 1px solid rgb(185, 185, 185);
}

.dates {
  margin: 17px 0;
}

.popup-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0px 15px;
  position: absolute;
  right: 526px;
  bottom: 185px;
}

/* search scope popup pannel end */
.options {
  display: flex;
  align-items: center;
  margin: 8px 5px;
}

.col-3 {
  width: 11%;
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  background: var(--primary);
  height: 44px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid #5fdeb2;
  height: 39px;
  top: 0;
}

#nav-tab-text {
  color: #fff;
  font-size: 14px;
}

.nav-tab-text {
  font-size: 14px;
}

.nav-tab {
  margin: 0 3px;
  width: 50%;
  text-align: start;
  font-size: 14px;
  display: flex;
}

.nav-search {
  width: 50%;
  text-align: right;
}

#nav-search {
  display: flex;
  align-items: center;
}

.dropbtn {
  font-size: 14px;
  font-family: GSans Med;
  color: var(--font-color);
  padding: 6px;
  border-radius: 2px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover {
  animation: animateColors 1s infinite;
}

.dropdown-content a {
  color: var(--font-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.dropdown-content a:hover {
  background-color: #5fdeb2;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  background-color: #5fdeb2;
  color: #fff;
}

.input {
  width: 48%;
  background: #efefef;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

.sub-title {
  font-size: 11px;
  color: #fff;
}

#sub-title {
  font-size: 13px;
  color: var(--font-color);
}

.dashboard {
  width: 100%;
  display: flex;
}

div.col-3-main {
  overflow: scroll;
  overflow-x: hidden;
}

.col-3-main {
  width: 20%;
  background: #fff;
  height: 498px;
}

a {
  text-decoration: none;
}



/* Dropdown */


.bg-0 {
  background-color: var(--bg-0) !important;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.headline-color {
  color: var(--color-0) !important;
}

.regular-color {
  color: #3b4a45;
  font-weight: 500;
  font-size: 13px;
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
}

.wraper {
  display: flex;
  justify-content: center;
}

.collapsed-menu {
  position: relative;
  overflow: hidden;
  max-height: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  transition: max-height 0.2s ease;
  border-radius: 4px;
  padding: 9px 0;
  margin: 2px 0;
  width: 100%;

}

.collapsed-menu.toggled {
  max-height: 100%;
  max-width: 100%;
}

.collapsed-menu>.collapsed-menu-btn span {
  transform: rotate(-90deg);
}

.collapsed-menu.toggled>.collapsed-menu-btn span {
  transform: rotate(0);
}

.collapsed-menu .collapsed-menu-list {
  list-style-type: none;
  padding: 0.2em;
  margin: 7px 0;
  width: calc(100% - 7px);
}

/*      styled item              */
.styled-link {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center;
  flex-direction: row-reverse !important;
  cursor: pointer;
  position: relative;
  gap: 0.2em;
  padding: 0 0.8em;
  text-decoration: none;
}

.styled-link:before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-1);
  opacity: 0;
  content: " ";
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.styled-link:hover:before {
  opacity: 0.2;
  border-radius: 8px;
}

.styled-link:active:before {
  opacity: 0.4;
  border-radius: 2px;
}

.styled-link *,
.styled-link *:before,
.styled-link *::after {
  transition: 0.2s ease-in-out;
  user-select: none;
}

.styled-link span {
  padding: 2px;
  aspect-ratio: 1;
  font-size: 18px;
}

.styled-link p,
.styled-link span {
  vertical-align: middle;
}

.styled-link p {
  opacity: 0.8;
  position: relative;
}

.styled-link p:before {
  position: absolute;
  content: " ";
  width: 0%;
  border-bottom: 1px solid var(--color-1);
  height: 100%;
  margin: 0 49%;
}

.styled-link:hover p {
  opacity: 1;
}

.styled-link:hover p:before {
  width: 60%;
  margin: 0 20%;
}


/* col-3 maindashboard css end */
div.col-8-main {
  overflow: scroll;
  overflow-x: hidden;
}

.col-8-main {
  width: 77%;
  background: #efefef;
  height: 100%;
}

div.col-1-main {
  overflow: hidden;
  position: fixed;
  right: 0;
}

.col-8-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 7px;
  margin: 14px 4px;
}

#col-8-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 7px;
  margin: 14px 4px;
}

/* content */
.card {
  margin: 0px 18px;
  border: 1px solid rgb(192, 192, 192);
}

/* grid view /list view css */

.filter-buttons {
  display: flex;
  margin-bottom: 20px;
}

.list-view-button,
.grid-view-button {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.table-view-button {
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

.list-view-button:hover,
.grid-view-button:hover,
.table-view-button:hover {
  background: #ffffff;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  color: white;
  border-radius: 3px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.list.list-view-filter {
  flex-direction: column;
}

.list.grid-view-filter {
  flex-flow: row wrap;
}

.list.list-view-filter li {
  margin: 0;
}

.list.grid-view-filter li {
  width: calc(50% - 183px);
  margin: 21px 3px 0px 7px;
  /* padding: 7px 5px; */
}

/* grid view list view css end */

.view {
  margin: -1px 4px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.content-desc {
  padding: 2px 13px;
  align-items: center;
  text-align: di;
  justify-content: center;
  margin: 11px 0;
}

/* col8 css */
.top-btn {
  display: flex;
  align-items: center;
}

#top-btn {
  display: flex;
  align-items: center;
}

.btn {
  background: #68ab91;
  padding: 7px 17px;
  margin: 0px -2px 0px 7px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  border-radius: 17px;
}

.btn:active {
  background-color: #5fdeb2;
  color: #fff;
}

#full-screen {
  width: 21px;
  height: 13px;
}

.name-initial {
  width: 22px;
  text-align: center;
  background: #cfbebe;
  color: #fff;
  height: 21px;
  padding: 4px;
  border-radius: 27px;
  margin: 4px 4px;
}

.name-lists-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

#name-lists-card {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0px 5px;
  text-decoration: none;
}

.toggle-content {
  background: #fff7d4;
  border-bottom: 1px solid lightgray;
  padding: 7px 5px;
  padding: 1px 0px 8px 0;
  text-align: center;
  display: none;
}

#tab-btn {
  border: 1px solid #a7a7a7;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0px 2px 0px 8px;
  cursor: pointer;
}

#name-lists-card {
  background: #fff7d4;
}

.section-1 {
  display: flex;
}

.section-2 {
  text-align: end;
  margin: 0 10px;
}

/* col-1 */
#icons {
  height: 14px;
  width: 16px;
  margin: 6px 7px;
  fill: #7e7e7e;
}

.icons {
  background: #e7e8e9;
  border-radius: 41px;
  width: 30px;
  height: 28px;
  margin: 10px;
}

.active-dot-num {
  background: #5fdeb2;
  padding: 3px 3px;
  font-size: 12px;
  border-radius: 18px;
  color: #fff;
}

/* footer css */
.footer {
  display: flex;
  justify-content: space-between;
  height: 36px;
  margin: 0px -1px;
  align-items: center;
  width: calc(21% - 29px);
  padding: 0 7px;
  background: #dddddd;
  position: fixed;
  bottom: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  background: #dddddd;
  height: 27px;
  padding: 5px 11px;
  position: fixed;
  bottom: 0;
  width: calc(100% - 334px);
}

#number {
  font-size: 12px;
  margin: 5px;
  color: #5fdeb2;
}

.active-num {
  background: #5fdeb2;
  color: #fff;
  font-size: 12px;
  margin: 5px;
  padding: 2px 3px;
  border-radius: 18px;
}

.fav {
  display: flex;
  align-items: center;
}

.show-all {
  display: flex;
  align-items: center;
}

.assistante {
  display: flex;
  align-items: center;
}

/* floating labels */

.did-floating-label-content {
  position: relative;
  margin-bottom: 20px;
}

.did-floating-label {
  color: #1e4c82;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.did-floating-input,
.did-floating-select {
  font-size: 12px;
  display: block;
  width: 100%;
  height: 36px;
  padding: 0px 20px;
  background: rgb(255, 255, 255);
  color: rgb(50, 56, 64);
  border: none;
  border-bottom: 1px solid #d4d3d3;
  box-sizing: border-box;
}

select.did-floating-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select.did-floating-select::-ms-expand {
  display: none;
}

.did-floating-input:not(:placeholder-shown)~.did-floating-label {
  top: -8px;
  font-size: 13px;
}

.did-floating-select:not([value=""]):valid~.did-floating-label {
  top: -8px;
  font-size: 13px;
}

.did-floating-select[value=""]:focus~.did-floating-label {
  top: 11px;
  font-size: 13px;
}

.did-floating-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%23003d71'/%3E%3C/svg%3E%0A");
  background-position: right 15px top 50%;
  background-repeat: no-repeat;
}

.did-floating-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='6' viewBox='0 0 8 6'%3E%3Cpath id='Path_1' data-name='Path 1' d='M371,294l4,6,4-6Z' transform='translate(-371 -294)' fill='%239d3b3b'/%3E%3C/svg%3E%0A");
}

.did-floating-input {
  border-left: 0;
  padding-left: 0;
}

.input-group {
  display: flex;
}

.input-group-append {
  display: flex;
  align-items: center;
}

.input-group-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  height: 34px;
  color: #323840;
  padding: 0 5px 0 20px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #3d85d8;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

/* col-3-main popup */
.popup {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.popup-content {
  height: 100%;
  width: 100%;
}

/* col-3-main-popup end */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */


/* media queries */
@media screen and (min-width: 820px) {
  #nav-tab-text-mobile {
    display: none;
  }

  #svg-icon-mobile {
    display: none;
    fill: #fff;
  }

  .top-nav {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 790px) {

  #main {
    display: none;
  }

  #Myid {
    display: none;
  }

  .user-img {
    display: none;
  }

  .header {
    display: none;
  }

  .col-3-main {
    display: none;
    width: 100%;
  }

  .col-1-main {
    display: none;
  }

  .col-8-main {
    width: 100%;
  }

  .dashboard {
    width: 100% !important;
  }

  .col-8-top {
    display: none;
  }

  #col-8-top {
    display: none;
  }

  #options {
    display: none;
  }

  .nav-bar {
    border-top: none;
    background: #f9a803;
    position: sticky;
    height: 39px;
  }

  .popup {
    display: none;
  }

  /* fonts */
  .desc-bold {
    font-size: 11px;
  }

  .desc {
    font-size: 10px;
  }

  /* fonts end */
  /* Content */
  .name-lists-card {
    padding: 3px 3px;
    border-bottom: 1px solid #cecece;
  }

  #name-lists-card {
    padding: 3px 0;
    border-bottom: 1px solid #cecece;
  }

  .nav-search,
  #nav-search {
    display: none;
  }

  .section-2 {
    display: none;
  }

  #nav-tab-text {
    display: none;
  }

  #nav-tab-text-mobile {
    color: #fff;
    font-size: 14px;
  }

  .name-initial {
    width: 23px;
    height: 18px;
    padding: 4px;
    font-size: 14px;
  }

  .svg-icon-web {
    display: none;
  }

  .top-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #e6e6e6;
  }

  .modal {
    padding-top: 0;
  }

  .modal-content {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .popup-btn {
    position: absolute;
    bottom: 10px;
    left: 277px;
  }

  .footer-page {
    display: none;
  }
}